@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

html, body {
	margin: 0; padding: 0;
	font-family: 'Roboto';
	font-weight: 900;
	overflow-x: hidden;
	height: 100%;
	background-color: grey;
}

.inner{
	width: 80%;
	margin: auto;
}

.menu{
	background: #4a69bd;
	width: 100%;
	height: 100px;
	line-height: 100px;
}

.gauche{
	float: left;
}

.droite{
	float: right;
}

.logo{
	margin: 0; padding: 0;
	color: white;
	text-transform: uppercase;
	font-size: 40px;
	letter-spacing: 3px;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	border-bottom: 2px solid transparent;
	text-transform : uppercase;
    letter-spacing : 0.01em;
    text-shadow: 1px 1px 3px black;
}

.logo:hover{
	padding-bottom: 3px;
	border-color: white;
}

.lien{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: 1.7em;
	padding: 0; margin: 0 20px;
	transition: all 0.2s ease-in-out;
	border-bottom: 2px solid transparent;
}

.lien:hover{
	padding-bottom: 3px;
	border-color: white;
}

.lien i{
	margin-right: 5px;
}

.index-h1{
	background: #4a69bd;
	border-radius: 10px;
	color: white;
	text-align: center;
	margin-top: 2%;
	font-size: 4em;
	width: 30%;
	margin-left: 35%;
	text-transform : uppercase;
    letter-spacing : 0.01em;
    text-shadow: 2px 2px 5px black;
}

.index-h2{
	background: #4a69bd;
	border-radius: 10px;
	color: white;
	text-align: center;
	width: 50%;
	font-size: 2em;
	margin-top: -1%;
	margin-left: 25%;
	letter-spacing : 0.01em;
	text-shadow: 2px 2px 5px black;
}

.div-inscription{
	position: relative;
	text-align: center;
	border-radius: 20px;
	left: 13%;
	margin-top: 5%;
	margin-bottom: 50px;
	width: 27%;
	height: 55%;
	background: #4a69bd;
}

.p-inscription{
	background: #353b48;
	text-align: center;
	font-size: 2em;
	width: 50%;
	height: 10%;
	border-radius: 10px;
	color: white;
	letter-spacing : 0.01em;
	text-shadow: 1px 1px 4px black;
	margin-left: 25%;
	position: relative;
	top: 15px;
}

.div-connexion{
	background: #4a69bd;
	border-radius: 20px;
	text-align: center;
	position: relative;
	left: 57%;
	/*margin-top: 50px;
	margin-bottom: 50px;*/
	width: 27%;
	height: 30%;
	bottom: 60%;

}

.p-connexion{
	background: #353b48;
	text-align: center;
	font-size: 2em;
	width: 50%;
	height: 18%;
	border-radius: 10px;
	color: white;
	letter-spacing : 0.01em;
	text-shadow: 1px 1px 4px black;
	margin-left: 25%;
	position: relative;
	top: 15px;
}

.input{
	font-size: 2.5em;
	border-radius: 7px;
	margin-bottom: 2%;
}

.submit{
	font-size: 2em;
	border-radius: 10px;
}

.connexion-submit{
	font-size: 2em;
	border-radius: 10px;
}

.h1-demande{
	background: #4a69bd;
	border-radius: 10px;
	color: white;
	text-align: center;
	margin-top: 2%;
	font-size: 2.8em;
	width: 30%;
	margin-left: 35%;
	text-transform : uppercase;
    letter-spacing : 0.01em;
    text-shadow: 2px 2px 5px black;
}

.legend-mosaique{
	font-size: 2em;
}

.label-demande{
	font-size: 2em;
}

.select-filiere{
	font-size: 2em;
}

.select-groupe{
	font-size: 2em;
}

.select-submit{
	font-size: 2em;
}

.cube{
	background-color: #4a69bd;
	position: relative;
	left: 77%;
	width: 70px;
	height: 69px;
	border-radius: 10px;
	top: 6.6%;

}

.cube-choix{
	background: #4a69bd;
	width: 13%;
	height: 7%;
	border-radius: 10px;
	position: relative;
	text-align: center;
	left: 80%;
	bottom: 4%;
}

.cube-choix-p{
	color: white;
	text-align: center;
	font-size: 2em;
	width: 100%;
	text-transform : uppercase;
    letter-spacing : 0.01em;
    text-shadow: 2px 2px 5px black;
    position: relative;
    right: 2%;
    top: 20%;
}

.all_infos{
	position: relative;
	right: 22%;
	top: 30px;
}

.all_infos-p{
	position: relative;
	left: 5%;
	top: 10px;
}

.toggle-traitement{
	width: 40px;
	height: 70px;
	display: flex;
	align-items: center;
	cursor: pointer;
	position: relative;
	left: 20%;
	bottom: 10%;
}

span.traitement-icon, span.traitement-icon:before, span.traitement-icon:after{
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background: white;
	position: relative;
	transition: all 0.3s ease-in-out;
}

span.traitement-icon:before{
	top: 12px;
}

span.traitement-icon:after{
	top: -14px;
}

.formulaire-traitement.is-open{
	display: block;
}

.cube-choix.is-open{
	display: none;
}

.toggle-traitement.is-open span.traitement-icon{
	transform-origin: center;
	transform: rotate(90deg);
	top: 0;
	transition: all 0.2s ease-in-out;
}

.toggle-traitement.is-open span.traitement-icon:before,.toggle-traitement.is-open span.traitement-icon:after{
	transform-origin: center;
	transform: rotate(0deg);
	top: 0;
}

.toggle-traitement.is-open span.traitement-icon:after{
	transform-origin: center;
	transform: rotate(0deg);
	top: 0;
}

.formulaire-traitement{
	background: #4a69bd;
	width: 10%;
	height: 20%;
	text-align: center;
	position: relative;
	left: 80%;
	border-radius: 10px;
	display: none;
	bottom: 1%;
}

.formulaire-traitement-form{
	position: relative;
	top: 10%;
}

.en-tete-filiere{
	position: relative;
	left: 4%;
	width: 600px;
	/*margin-top: 5%;*/
}

.en-tete-groupe{
	position: relative;
	left: 2%;
	width: 670px;
	/*margin-top: 5%;*/
}

.profil{
	margin: 50px;
	float: left;
	text-align: center;
	/*background: orange;*/
	width: 200px;
	height: 250px;
	border-radius: 10px;
}

.image{
	cursor: pointer;
}

.info{
	display: none;
	margin-top: -30px;
	width: 200px;
}

.p-mosaique{
	font-size: 3em;
	background: #4a69bd;
	width: 45%;
	text-align: center;
	position: relative;
	margin-top: 2%;
	margin-left: 28%;
	border-radius: 40px;
}

.fleche{
	position: relative;
	margin-top: 5%;
	margin-left: 42%;
}

.impression-filiere{
	border-radius: 10px;
	position: relative;
	left: 4%;
	font-size: 2em;
}

.impression-groupe{
	border-radius: 10px;
	position: relative;
	left: 2%;
	bottom: 10px;
	font-size: 2em;
}

.le_footer{
	background: #303036;
	color: #d3d3d3;
	height: 150px;
	position: relative;
	top: 100px;

}

.le_footer .contenue{
	height: 100px;
	display: flex;
}

.le_footer .contenue .footer-section{
	flex: 1;
	padding: 10px;
	border: 1px solid white;
}

.le_footer .fond{
	background: #343a40;
	color: #686868;
	height: 50px;
	width: 100%;
	text-align: center;
	position: relative;
	bottom: 0px;
	left: 0px;
	padding-top: 10px;
}
