@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

html, body {
	margin: 0; padding: 0;
	font-family: 'Roboto';
	font-weight: 900;
	overflow-x: hidden;
	height: 100%;
	background: linear-gradient(to right, #6c5ce7, #74b9ff);
}

.inner{
	width: 80%;
	margin: auto;
}

.menu{
	width: 100%;
	height: 100px;
	line-height: 100px;
	margin-top: 2%;
}

.gauche{
	float: left;
}

.droite{
	float: right;
}

.logo{
	margin: 0; padding: 0;
	color: white;
	text-transform: uppercase;
	font-size: 50px;
	letter-spacing: 3px;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	border-bottom: 2px solid transparent;
	text-transform : uppercase;
    letter-spacing : 0.01em;
}

.logo:hover{
	padding-bottom: 3px;
	border-color: white;
}

.lien{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: 1.7em;
	padding: 0; margin: 0 20px;
	transition: all 0.2s ease-in-out;
	border-bottom: 2px solid transparent;
}

.lien:hover{
	padding-bottom: 3px;
	border-color: white;
}

.lien i{
	margin-right: 5px;
}

.index-h1{
	background: rgba(0,0,0,0.1);
	border-radius: 50px;
	color: white;
	text-align: center;
	margin-top: 2%;
	font-size: 4em;
	width: 30%;
	margin-left: 35%;
	text-transform : uppercase;
    letter-spacing : 0.01em;
}

.index-h2{
	border-radius: 10px;
	color: white;
	text-align: center;
	width: 50%;
	font-size: 2em;
	margin-top: -1%;
	margin-left: 25%;
	letter-spacing : 0.01em;
	text-shadow: 2px 2px 5px black;
	margin-bottom: 5%;
}

.wrappers{
	position: relative;
	/*top: 250px;*/
	bottom: 612px;
	transform: translateX(25%);
	width: 100%;
	padding: 0 20px;
}

.wrapper{
	position: relative;
	/*top: 250px;*/
	bottom: 60%;
	transform: translateX(-20%);
	width: 100%;
	padding: 0 20px;
}

.contact-form{
	max-width: 550px;
	margin: 0 auto;
	background: rgba(0,0,0,0.3);
	padding: 30px;
	border-radius: 7px;
	display: flex;
	box-shadow: 0 0 10px rgba(0,0,0,0.13);

}

input{
	outline: none;
}

.input-fields{
	display: flex;
	flex-direction: column;
	margin-right: 4%;

}

.input-fields{
	width: 80%;
}

.input-fields .input{
	font-size: 1.8em;
	margin: 10px 0;
	background: transparent;
	border: 0;
	border-bottom: 2px solid #c5ecfd;
	padding: 10px;
	color: #fff;
	width: 100%;
}


::-webkit-input-placeholder{
	color: #dcdde1;
}

::-moz-input-placeholder{
	color: #dcdde1;
}

::-ms-input-placeholder{
	color: #dcdde1;
}

.boxes{
	align-items: center;
	display: flex;
	justify-content: center;
	position: relative;
	left: 40%;
	margin-top: 5%;
	/*min-height: 100vh;*/
}


.boxe{
	align-items: center;
	display: flex;
	justify-content: center;
	position: relative;
	left: 40%;
	margin-top: 5%;
	/*min-height: 100vh;*/
}

.button{
	/*background-color: #03A9F4;*/
	background-color: #34ace0;
	border: none;
	border-radius: 5px;
	box-shadow: 7px 8px 20px 4px rgba(0, 0, 0, 0.5);
	color: white;
	font-family: monospace;
	font-size: 3em;
	outline: none;
	padding: 20px;
	cursor: pointer;
	transition: 0.2s;
}

.button:hover{
	box-shadow: 7px 8px 25px 4px rgba(0, 0, 0, 0.48);
	transform: scale(1.02);
}

.button:active{
	box-shadow: 7px 8px 18px 2px rgba(0, 0, 0, 0.53);
	transform: scale(0.98);
}

.submit{
	font-size: 2em;
	border-radius: 10px;
}

.connexion-submit{
	font-size: 2em;
	border-radius: 10px;
}

.p-inscription{
	position: relative;
	text-transform : uppercase;
    letter-spacing : 0.01em;
    color: white;
    font-size: 3em;
    left: 18%;
    top: 50px;
}

.p-connexion{
	position: relative;
	text-transform : uppercase;
    letter-spacing : 0.01em;
    color: white;
    font-size: 3em;
    float: right;
    bottom: 712px;
    right: 30%;
}

.h1-demande{
	background: #4a69bd;
	border-radius: 10px;
	color: white;
	text-align: center;
	margin-top: 2%;
	font-size: 2.8em;
	width: 30%;
	margin-left: 35%;
	text-transform : uppercase;
    letter-spacing : 0.01em;
    text-shadow: 2px 2px 5px black;
}

.legend-mosaique{
	font-size: 2em;
}

.label-demande{
	font-size: 2em;
}


.select-filiere{
	font-size: 1.8em;
	position: relative;
	background: #34ace0;
	color: white;
	padding: 10px;
	width: 180px;
	height: 50px;
	border: none;
	font-size: 20px;
	box-shadow: 3px 4px 9px 4px rgba(0,0,0,0.5);
	-webkit-appearance: button;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 10px;
}

.select-groupe{
	font-size: 1.8em;
	position: relative;
	background: #34ace0;
	color: white;
	padding: 10px;
	width: 180px;
	height: 50px;
	border: none;
	font-size: 20px;
	box-shadow: 3px 4px 9px 4px rgba(0,0,0,0.5);
	-webkit-appearance: button;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
}

.select-submit{
	background-color: #34ace0;
	border: none;
	border-radius: 5px;
	box-shadow: 7px 8px 20px 4px rgba(0, 0, 0, 0.5);
	color: white;
	font-family: monospace;
	font-size: 2em;
	outline: none;
	padding: 10px;
	cursor: pointer;
	transition: 0.2s;
	position: relative;
	left: 3%;
	top: 12px;
}

.select-submit:hover{
	box-shadow: 7px 8px 25px 4px rgba(0, 0, 0, 0.48);
	transform: scale(1.02);
}

.select-submit:active{
	box-shadow: 7px 8px 18px 2px rgba(0, 0, 0, 0.53);
	transform: scale(0.98);
}

.disposition{
	display: flex;
	flex-direction: wrap;
	width: 100%;
	position: relative;
	left: 55%;
	top: 80px;
}

.cube{
	background: rgba(0,0,0,0.3);
	position: relative;
	width: 70px;
	height: 65px;
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;

}

.cube-choix{
	background: rgba(0,0,0,0.3);
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	position: relative;
	text-align: center;
	width: 30%;
	height: 65px;
}

.cube-choix-p{
	color: white;
	text-align: center;
	font-size: 2em;
	width: 100%;
	text-transform : uppercase;
    letter-spacing : 0.01em;
    position: relative;
    bottom: 20px;
}

.all_infos{
	position: relative;
	right: 25%;
	top: 25px;
	cursor: pointer;
}

.all_infos-p{
	position: relative;
	bottom: 26px;
	color: white;
	font-size: 1.5em;
	width: 30%;
	left: 26%;
}

.toggle-traitement{
	width: 40px;
	height: 70px;
	display: flex;
	align-items: center;
	cursor: pointer;
	position: relative;
	left: 25%;
	bottom: 7%;
}

span.traitement-icon, span.traitement-icon:before, span.traitement-icon:after{
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background: white;
	position: relative;
	transition: all 0.3s ease-in-out;
}

span.traitement-icon:before{
	top: 12px;
}

span.traitement-icon:after{
	top: -14px;
}

.formulaire-traitement.is-open{
	display: block;
}

.cube-choix.is-open{
	display: none;
}

.toggle-traitement.is-open span.traitement-icon{
	transform-origin: center;
	transform: rotate(90deg);
	top: 0;
	transition: all 0.2s ease-in-out;
}

.toggle-traitement.is-open span.traitement-icon:before,.toggle-traitement.is-open span.traitement-icon:after{
	transform-origin: center;
	transform: rotate(0deg);
	top: 0;
}

.toggle-traitement.is-open span.traitement-icon:after{
	transform-origin: center;
	transform: rotate(0deg);
	top: 0;
}

.formulaire-traitement{
	background: rgba(0,0,0,0.3);
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	width: 30%;
	height: 100px;
	text-align: center;
	position: relative;
	display: none;
}

.formulaire-traitement-form{
	position: relative;
	top: 10%;
}

.en-tete-filiere{
	position: relative;
	left: 4%;
	width: 600px;
	color: #f7f1e3;
	font-size: 2.5em;
	/*margin-top: 5%;*/
}

.en-tete-groupe{
	position: relative;
	left: 2%;
	width: 900px;
	color: #f7f1e3;
	font-size: 2.5em;
	/*margin-top: 5%;*/
}

.profil{
	margin: 50px;
	float: left;
	text-align: center;
	/*background: orange;*/
	width: 200px;
	height: 250px;
	border-radius: 10px;
}

.image{
	cursor: pointer;
}

.info{
	display: none;
	margin-top: -30px;
	width: 200px;
	height: 19px;
}

.p-mosaique{
	font-size: 3em;
	background: #4a69bd;
	width: 45%;
	text-align: center;
	position: relative;
	margin-top: 2%;
	margin-left: 28%;
	border-radius: 40px;
}

.fleche{
	position: relative;
	margin-top: 5%;
	margin-left: 42%;
}

.impression-filiere{
	border-radius: 10px;
	position: relative;
	left: 4%;
	font-size: 2em;
}

.impression-groupe{
	border-radius: 10px;
	position: relative;
	left: 2%;
	bottom: 10px;
	font-size: 2em;
}

.cle-epuise{
	position: relative;
	background: #d63031;
	width: 40%;
	height: 30%;
	text-align: center;
	border-radius: 70px;
	left: 29%;
	top: 100px;
}

.h1-cle-epuise{
	position: relative;
	top: 50px;
	font-size: 3em;
	color: white;
	text-transform : uppercase;
    letter-spacing : 0.01em;
    text-shadow: 2px 2px 5px black;
}

.p-cle-epuise{
	position: relative;
	top: 50px;
	font-size: 2em;
	color: white;
	text-transform : uppercase;
    letter-spacing : 0.01em;
    text-shadow: 2px 2px 5px black;
}

.le_footer{
	background: #303036;
	color: #d3d3d3;
	height: 100px;
	position: relative;
	top: 100px;

}

.le_footer .contenue{
	height: 100px;
	display: flex;
}

.le_footer .contenue .footer-section{
	flex: 1;
	padding: 10px;
}

.p-footer-element{
	text-align: center;
	position: relative;
	border-bottom: 1px solid grey;
	font-size: 1.3em;
}

.p-footer-sous-element{
	font-size: 1.2em;
}

.le_footer .fond{
	background: #343a40;
	color: #686868;
	height: 50px;
	width: 100%;
	text-align: center;
	position: relative;
	bottom: 0px;
	left: 0px;
	padding-top: 7px;
}

